.CoordLabels {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -25px;
    color: white;
    font-size: 30pt;
}

.LabelStatusInfo {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    color: white;
    font-size: 15pt;
    background-color: black;
}

.LabelFeed {
    position: absolute;
}

@media (min-Width:1350px) {
    .CoordLabels {
        font-size: 40pt;
        margin-top: -35px;
    }
}

@media (min-Width:1500px) {
    .CoordLabels {
        font-size: 60px;
        margin-top: -38px;
    }
}


@media (min-Width:1900px) {
    .CoordLabels {
        font-size: 70px;
        margin-top: -44px;
    }
}

@media (min-Width:2200px) {
    .CoordLabels {
        font-size: 80px;
        margin-top: -50px;
    }
}